body
{
    background-color: white;
}

ng-view .row,
ng-view .row-fluid
{
    margin-top: 1em;
}

div img 
{
    max-width: 100%;
    max-height: 100%;
    border: thin black solid;
    border-radius: 2px;
}

.strong
{
    font-weight: bold;
}

a
{
    cursor: pointer;
}

form.dropzone { 
    border: rgb(0, 135, 247) dashed 2px; 
    border-radius: 5px; 
    padding: 54px; 
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.alert.keyword {
    padding: 2px;
    margin-bottom: 8px;
}

.alert-dismissable.keyword .close {
    right: -2px;
}

img.cc-image 
{
    border-width: 0px;
    background-color: white;
    border-radius: 5px;
    padding: 4px 12px;
}

.listing-title
{
    font-size: 150%;
    font-weight: bold;
}

.listing-price
{
    font-weight: bold;
}

.listing-maxbid,
.listing-minbid
{
    font-weight: bold;
}

.tab-content
{
    border-right: silver 1px solid;
    border-left: silver 1px solid;
    border-bottom: silver 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 1em;
}

.video-title
{
    font-size: 150%;
    color: Navy;
    text-shadow: #ddd;
}

.video-details
{
    color: Navy;
}

#map 
{
    height: 400px;
    width: 100%;
}

.dim
{
    opacity: .5;
}

.shift-left
{
    color: green;
    margin-left: -10px;
    font-size: 125%;
}

.form-group.row-fluid 
{
    margin-bottom: 12px;
}

.panel-ad
{
    border: black solid 1px;
}

.panel-ad .panel-title
{
    border-bottom: black solid 1px;
    font-size: 8pt;
    padding: 2px 8px;
    background-color: #eee;
}

.panel-ad .panel-title button
{
    border-style: none;
    background-color: #eee;
}

.panel-ad img 
{
    border-style: none;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}