<div class="panel panel-ad">
    <div class="panel-heading panel-title">
        <button class="pull-right" ng-click="showNoAds()">&times;</button>
        Advertisement
    </div>
    <div class="panel-body">
        <a href="https://www.ssa.gov/myaccount">
            <img src="/images/stopwatch.jpg" style="opacity: .15; height: 400px;" />
            <div style="z-index: 100; margin-top: -400px;">
                <div style="color: #442; font-size: 125%; font-family: serif; font-weight: bold;">
                    Sure, you're young now...
                </div>
                <div style="color: #064; font-size: 125%; text-align: right; font-style: italic; font-family: serif;">
                    ...but that clock's ticking!
                </div>
                <img src="https://www.ssa.gov/img/en/2015/home/hero-myaccount2.jpg" alt="https://www.ssa.gov/myaccount"/>
                <div style="margin-top: 1em; font-weight: bold; font-size: 130%; font-family: Arial, sans-serif; text-align: center;">
                    Social Security Cares<br />
                    <img src="/images/ssa-logo.png" width="30%" />
                </div>
            </div>
        </a>
    </div>
</div>