<div class="row-fluid">

    <div class="col-lg-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a id="videoTab" href="#video" data-toggle="tab" target="_self">How To Videos</a>
            </li>
            <li><a href="#faq" id="faqTab" data-toggle="tab" target="_self">FAQ</a>
            </li>
            <li><a href="#contactUs" id="contactUsTab" data-toggle="tab" target="_self">Contact Us</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="video">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-lg-12">

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" target="_self">User Profile</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div class="col-lg-6">
                                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rvlkXOPll7U" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p class="video-title">Add Your Picture</p>
                                                    <p calss="video-description">This video tells you how to add your picture to your profile.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self">Selling Stuff</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row-fluid">
                                                    <div class="col-lg-6">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/w6vy5DWlWrk" frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p class="video-title">How to Create a Listing</p>
                                                        <p calss="video-description">This video tells you how to post items to sell.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self">Buying Stuff</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row-fluid">
                                                    <div class="col-lg-6">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Sad8GDFZ5hQ" frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p class="video-title">How to View Listing Details</p>
                                                        <p calss="video-description">This video tells you how to look more closely into items of interest.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade in" id="faq">

                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-lg-12">

                            <div class="panel-group" id="faqAccordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#faqAccordion" href="#faq1" target="_self">I love this site!</a>
                                        </h4>
                                    </div>
                                    <div id="faq1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Thank you.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#faqAccordion" href="#faq2" target="_self">No - I <em>really</em> love this site!</a>
                                        </h4>
                                    </div>
                                    <div id="faq2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Thanks, dude! We appreciate it.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#faqAccordion" href="#faq3" target="_self">How can I contribute to this site?</a>
                                        </h4>
                                    </div>
                                    <div id="faq3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Just keep making the minimum payments on your credit cards, and we're happy.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade in" id="contactUs">

                <div class="container-fluid">

                    <div class="form-group row-fluid">
                        <label>E-mail</label>
                        <p class="static-form-control">upay_us@upay.com</p>
                    </div>

                    <div class="form-group row-fluid">
                        <label>Snail Mail</label>
                        <p class="static-form-control">
                            Secret Bathysphere Lair<br/> Inner Harbor<br/> Baltimore, MD 21201<br/> &nbsp;
                            <br/>
                            <img src="/images/map.png" width="50%" />
                        </p>
                    </div>

                    <div class="col-lg-12">

                        <a href="https://www.youtube.com/watch?v=hpTS3RTr6RE" target="_new">How to Make Video</a>

                    </div>


                </div>

            </div>

        </div>
    </div>